.container
  .row
    %h2 Sign up
    = form_for([resource, resource.with_account], as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address', required: true
      = f.fields_for(:account) do |af|
        .form-group
          = af.select :account_type_id, AccountType.all.collect {|a| [a.name, a.id]}, {prompt: 'Select Account Type'}, {class: 'select2 form-control'}
        .form-group
          = af.text_field :first_name, class: 'form-control', placeholder: 'First Name or Company Name', required: true
        .form-group
          = af.text_field :last_name, class: 'form-control', placeholder: 'Last Name'
      .form-group
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', required: true
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation', required: true
      .actions
        = f.submit t('user.signup'), class: 'btn btn-default'
    %br
    = render "devise/shared/links"


:javascript
  $('select').select2();
