= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this Event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-12
      .form-group
        = f.text_field :name, class: 'form-control', placeholder: 'Event Name/Title'
      .form-group
        = f.text_area :description, class: 'form-control wysihtml5', placeholder: 'Event Description'
  %hr
  %h2 Event Start/End
  .row
    .col-md-6
      .form-group.input-group.date
        = f.text_field :start_date, class: 'form-control', placeholder: 'Start Date', value: "#{@event.formatted_start_date if @event.start_date}"
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
    .col-md-6
      .form-group.input-group.date
        = f.text_field :end_date, class: 'form-control', placeholder: 'End Date', value: "#{@event.formatted_end_date if @event.end_date}"
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar

  %hr
  %h2 Sponsor Form
  #form_questions
    = f.fields_for(:form_questions) do |qf|
      = render 'form_question_fields', f: qf
    .links
      = link_to_add_association 'Add Question', f, :form_questions, {class: 'btn btn-default'}

  %hr
  %h2 Sponsor Rewards
  #event_rewards
    = f.fields_for(:event_rewards) do |qf|
      = render 'event_reward_fields', f: qf
    .links
      = link_to_add_association 'Add Reward', f, :event_rewards, {class: 'btn btn-default'}



      -# This looks pretty good
        -# http://elegantbrew.tumblr.com/post/70314444570/multi-step-forms-with-rails-4-and-statemachine

  = f.hidden_field :timezone
  = f.hidden_field :account_id, value: current_account.id
  %br
  .actions
    = f.submit 'Save', class: 'btn btn-default'

:javascript
  var initJS = function(){
    $('#event_timezone').set_timezone()
    $('select').select2({dropdownAutoWidth: true});
    $('.wysihtml5').editable({
      inlineMode: false,
      imageUpload: false
    });
  }

  $('form').on('cocoon:after-insert', function() {
    initJS();
  });

  initJS();
  $('.date').datetimepicker({
    format: 'LLLL',
    sideBySide: true
  });
