.container
  %p#notice= notice

  .row
    %h2
      =@event.name
    %p
      %h4 Description:
      = @event.description.html_safe

  %hr
  .text-center
    .row
      .col-xs-6.col-md-6
        %h2 Start Event
      .col-xs-6.col-md-6
        %h2 End Event
    .row
      .col-xs-6.col-md-6
        = @event.formatted_start_date
      .col-xs-6.col-md-6
        = @event.formatted_end_date

  %hr
  %h2 Sponsor Rewards
  - @event.event_rewards.each do |reward|
    .row
      .col-xs-4.col-md-4
        .row
          = reward.name
        .row
          = currency_symbol
          = reward.price
      .col-xs-8.col-md-8
        = reward.description.html_safe
      %br

  %hr
  %h2 Sponsor Form
  .row
    - @event.form_questions.each do |question|
      = "#{question.name} - #{question.field_type}"
      %br

  %br
  .row
    = link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary'
    = link_to 'Back', events_path, class: 'btn btn-default'
    = link_to 'Apply', new_event_event_submission_path(@event), class: 'btn btn-primary'
