.container
  %p#notice= notice

  %div.text-center
    %h1
      =@event.name

  %div
    %h3 Description:
    = @event.description.html_safe

  %br
  %br
  %br

  .row.text-center
    .col-xs-6.col-md-6
      %h2 Start Event
    .col-xs-6.col-md-6
      %h2 End Event
    .col-xs-6.col-md-6
      = @event.formatted_start_date
    .col-xs-6.col-md-6
      = @event.formatted_end_date


  %br
  %br
  %br


  %h2 Sponsor Rewards
  - @event.event_rewards.each do |reward|
    %hr
    .row
      .col-xs-6.col-md-6
        %h4
          = reward.name
      .col-xs-6.col-md-6
        %h4.pull-right
          = currency_symbol
          = reward.price
      .col-xs-12.col-md-12
        = reward.description.html_safe


  %br
  %br
  %br


  %h2 Sponsor Form
  - @event.form_questions.each do |question|
    .row
    .col-xs-6.col-md-6
      = question.name
    .col-xs-6.col-md-6
      .pull-right
        = question.field_type


  %br
  %br
  %br


  .row
    - if can? :manage, Event
      = link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary'
    = link_to 'Back', events_path, class: 'btn btn-default'
    = link_to 'Apply', new_event_event_submission_path(@event), class: 'btn btn-primary'
