.nested-fields
  .row
    .col-md-2.text-right
      %label
        = f.object.form_question.name
    .col-md-10
      = f.hidden_field :form_question_id, value: f.object.form_question.id
      - if f.object.form_question.field_type == 'Text'
        = f.text_field :value,  class: 'form-control', placeholder: ''
      - elsif f.object.form_question.field_type == 'Email'
        = f.email_field :value,  class: 'form-control', placeholder: 'email@example.com'
      - if f.object.form_question.field_type == 'Number'
        = f.text_field :value,  class: 'form-control', placeholder: '123, 0.11, 33.1'
      - elsif f.object.form_question.field_type == 'Phone'
        = f.telephone_field :value,  class: 'form-control', placeholder: '1234567890 '
  %br
