%p#notice= notice

%p
  %b User:
  = @account.user
%p
  %b First name:
  = @account.first_name
%p
  %b Last name:
  = @account.last_name

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
