.continer
  %p#notice= notice

  %p
    %b Email:
    = @account.user.email
  %p
    %b Name:
    = @account.name
  - unless@account.address.first_line.nil?
    %p
      %b Address:
      = render partial: 'address', locals: {address: @account.address}

  = link_to 'Edit', edit_account_path(@account)
  \|
  = link_to 'Back', accounts_path
