%p#notice= notice

%p
  %b User:
  = @account.user
%p
  %b First name:
  = @account.first_name
%p
  %b Last name:
  = @account.last_name
- if @account.address
  %p
    %b Address:
    = @account.address.inspect

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
