.container
  %p#notice= notice

  .row
    %b Email:
    = @account.user.email

  .row
    %b Name:
    = @account.name

  .row
    %b Account Type:
    = @account.account_type.name

  .row
    %b Account Role:
    = @account.account_role.name

  - unless @account.address.first_line.blank?
    .row
      %b Address:
      = render partial: 'address', locals: {address: @account.address}

  = link_to 'Edit', edit_account_path(@account)
  \|
  = link_to 'Back', accounts_path
